doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/bootstrap-5.1.3-dist copy/css/bootstrap.css')
  script(src='/bootstrap-5.1.3-dist/js/bootstrap.bundle.js')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css')
  script(src='https://www.gstatic.com/charts/loader.js')
  script(src='/js/registrationValidation.js')
  link(rel='stylesheet' href='/dashs.css')
  link(rel='stylesheet' href='/theme.css')
  title ParkVille Dashboard
nav.navbar.navbar-light.bg-light.fixed-top
  .container-fluid
    h2.logo-two | ParkVille
    .d-flex
      #button-signoff
        a(href='/signoff')
          button.btn.btn-success(type='submit') Signoff Clients
      div
        a(href='/logout')
          button.btn.btn-outline-success(type='submit') Logout
.logo-two
  | | ParkVille
.welcome
  h4
    span
      i.bi.bi-person
    | Hello #{loggedinuser.firstname},
  p Here is an over view of all ParkVille business activities
.row
  .col-sm-6
    #card-one.card
      .card-body
        h5.card-title
          span All Account Value For All Sectors in UGX
          span
            i.bi.bi-eye-slash-fill
          | Hide Balance
        .card-text.money 
          p  PARKING #{new Intl.NumberFormat().format(total.totalParking)}
          p  BATTERY #{new Intl.NumberFormat().format(total.totalBattery)} 
          p  CAR TYER #{new Intl.NumberFormat().format(total.totalCartyre)} 
          //- p not totals to display
          span
            //- img(src='img/flag.jpeg' alt='' height='35px' width='35px' style='border-radius: 100%; margin-right:10px;')
  .col-sm-6
    #card-two.card
      .card-body
        h5.card-title ANALYTICS
        .card-text
          #myChart(style='width:100%; max-width:600px; height:200px;')
hr(style='height:2px;border-width:0;color:#2eb875;background-color: #2eb875')
.container
  // reg client
  div
    #data-button.table-data__tool-right
      button#add-button.btn.btn-success.button(type='button' data-bs-toggle='modal' data-bs-target='#exampleModal' data-bs-whatever='@fat')
        | + Add Client
      #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog
          #all.modal-content
            .modal-header
              h5#exampleModalLabel.modal-title
                | SERVICE REGISTRATION FORM
              button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            .modal-body
              form#regform.row.g-3(name='register' method='POST' action='/dash' onsubmit='return Vform();')
                .col-md-6
                  label.form-label(for='inputName4') Name
                  input#inputName4.form-control(type='text' placeholder='Name' size='' onblur='' name='name')
                  span#userError
                .col-md-6
                  label.form-label(for='inputPhonenumber4') Phone Number
                  input#inputPhonenumber4.form-control(type='text' placeholder='phone number' size='' onblur='' name='phonenumber')
                  span#phonenumberError
                .col-md-6
                  label.form-label(for='inputninNumber') NIN Number
                  input#inputninNumber.form-control(type='text' placeholder='NIN Number' size='' onblur='' name='ninnumber')
                  span#ninnumberError
                .col-md-6
                  label.form-label(for='inputcolor') Color
                  input#inputcolor.form-control(type='text' placeholder='Color' size='' onblur='' name='color')
                  span#colorError
                .col-md-6
                  label.form-label(for='inputnumberplate') Number Plate
                  input#inputnumberplate.form-control(type='text' placeholder='Number Plate' size='' onblur='' name='numberplate')
                  span#numberplateError
                .col-md-6
                  label.form-label(for='inputModel') Model
                  input#inputModel.form-control(type='text' placeholder='Model' size='' onblur='' name='model')
                  span#modelError
                .col-md-6
                  label.form-label(for='Date') Date
                  input#inputDate.form-control(type='date' size='' onblur='' name='date')
                  span#dateError
                .col-md-6
                  label.form-label(for='inputtime') Time
                  input#inputtime.form-control(type='time' size='' onblur='' name='time')
                  span#timeError
                .col-md-6
                  label.form-label(for='inputgender') Gender
                  select#inputgender.form-select(type='text' name='gender' size='' onblur='')
                    option(value='Default' selected='') Choose Gender
                    option Male
                    option Female
                  span#genderError
                .col-md-6
                  label.form-label(for='inputservice') Service
                  select#inputservice.form-select(type='text' name='service' onblur='')
                    option(value='Default' selected='') Choose Service
                    option Parking
                    option Car Tyre
                    option Battery
                    option Nill
                  span#serviceError
                .col-md-6
                  label.form-label(for='inputtypeofmodel') Description
                  select#inputdescription.form-select(type='text' name='description' onblur='')
                    option(value='Default' selected='') Choose Description
                    option Personal Car
                    option Taxi
                    option Bodaboda
                    option Coaster
                    option Tyre Pressure
                    option Puncture Fixing
                    option Valves
                    option Battery Renting
                    option Null
                  span#descriptionError
                .col-md-6
                  label.form-label(for='inputcolor') Duration
                  select#inputduration.form-select(type='text' name='duration' onblur='')
                    option(value='Default' selected='') Choose Duration
                    option Day
                    option Night
                    option less than 3hrs
                  span#durationError
                .col-md-6
                  label.form-label(for='inputprice') Parking Price
                  select#inputpaidprice.form-select(type='number' name='paidprice' onblur='')
                    option(value='Default' selected='') Choose Parking Price
                    option 10000
                    option 4000
                    option 3000
                    option 2000
                    option 1000
                    option 0
                  span#paidpriceError
                .col-md-6
                  label.form-label(for='inputrecipt') Battery Price
                  input#inputbatteryprice.form-control(type='number' size='' onblur='' name='batteryprice')
                  span#batterypriceError
                .col-md-6
                  label.form-label(for='inputbatterysize') Battery Size
                  input#inputbatterysize.form-control(type='text' size='' onblur='' name='batterysize')
                  span#batterysizeError
                .col-md-6
                  label.form-label(for='inputcartyreprice') Car Tyre Price
                  input#inputcartyreprice.form-control(type='number' size='' onblur='' name='cartyreprice')
                  span#cartyrepriceError
                .col-md-6
                  label.form-label(for='inputcartyresize') Car Tyre Size
                  input#inputcartyresize.form-control(type='text' size='' onblur='' name='cartyresize')
                  span#cartyresizeError
                .col-md-6
                  label.form-label(for='inputcartyremake') Car Tyre Make
                  input#inputcartyremake.form-control(type='text' size='' onblur='' name='cartyremake')
                  span#cartyremakeError
                .modal-footer
                  button.btn.btn-outline-secondary(type='button' data-bs-dismiss='modal')
                    | Close
                  button.btn.btn-outline-success(type='submit')
                    | Register
  .table-responsive.table-responsive-data2
    div.header
      h4 Data table
    table.table.table-data2
      thead
        tr
          th Name
          th Number plate
          th Service
          th Duration
          th Description
          th Time
          th Date
          th Parking Price
          th Battery Price
          th Car Tyre Price
          th
      tbody
        if clients.length
        each client in clients
         tr.tr-shadow
           td #{client.name}
           td #{client.numberplate}
           td #{client.service}
           td #{client.duration}
           td #{client.description}
           td #{client.time}
           td #{client.date}
           td #{client.paidprice}
           td #{client.batteryprice}
           td #{client.cartyreprice}
           td
            .table-data-feature
              a(href='/update/'+client._id)
                button.btn.item(type='button')
                 i.bi.bi-pencil-square(style='color:green;')
              // delete
              form(method='get', action='/deleteuser/'+client._id)
                console.log(#{client._id})
                input(type="hidden" name='delete' value=client._id)
                button.btn.item(type='submit' name='delete')
                 i.bi.bi-trash(style='color:red;')
script(src='/dashs.js')
//- script(src='/registrationValidation.js')
